.main-content{
  max-width: 68rem;  
}

.post-list li {
  list-style-type: none;
  margin-bottom: 2%;
}

.home-link-container {
  margin-bottom: 2%;
}

.home-link, .blog-home-link {
  color: #35b051;
  margin-left: -2%;
}

.contact-link-collection-container {
  margin-bottom: 10%;
}

.contact-link-container {
  float: left;
  margin-right: 3%;
}
